@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('RazerF5-Bold.otf');

body {
    margin-top: 50px;
    background-color: rgb(61, 61, 61);
    color: white;
    font-family: 'Razerf5', sans-serif, monospace;
}

header {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgba(61, 61, 61, 0.479);
}

#header-img {
    width: 10vw;
    margin-left: 1%;
}

nav {
    width: 100%;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(194, 194, 194);
}

#nav-bar a:hover {
    color: white;
}

#nav-bar a:active {
    color: #44d62c;
}

#sign-up-here {
    text-align: center;
    display: block;
    position: fixed;
    right: 0;
    top: 10vw;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0.17rem;

    z-index: 2;
    background: #00000056;
    backdrop-filter: blur(6px);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
}

#title-block {
    /* this sets the target position for the nav */
    margin-top: -10vw;
    padding-top: 10vw;

    text-align: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 897px;
    background-position: center;
    background-image: url("razer-blade-15-early2021-desktop-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#form {
    text-align: center;
}

#email {
    height: 30px;
}

#sign-up-title {
    color: #44d62c;
    border: grey;
    font-size: 1.5em;
    font-weight: bold;
}

#submit {
    border-radius: 0.17rem;
    border: 0;
    color: #000;
    font-size: .875rem;
    font-weight: 700;
    height: 2.5rem;
    background-color: #44d62c;
}

#submit:hover {
    background-color: #43d62c98;
}

#submit:active {
    background-color: rgba(128, 128, 128, 0.082);
}

#features {
    /* this sets the target position for the nav */
    margin-top: -5vw;
    padding-top: 5vw;
    background: black;
}

.features-row {
    display:flex;
}

.feature-single {
    width: 100%;
    padding-top: 20px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.features-img {
    width: 100px;
    height: auto;
}

.features-text {
    text-align: center;
}

.features-description {
    font-size: 1rem;
    text-align: center;
    color: rgb(194, 194, 194);
    width: 300px;
}

#video-block {
    margin-top: 20px;
}

#video-wrapper {
    /* this sets the target position for the nav */
    padding-top: 50px;
    margin-top: -50px;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid rgb(194, 194, 194);
}

#pricing-row-1 {
    /* this sets the target position for the nav */
    margin-top: -10vw;
    padding-top: 10vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pricing-row-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.model {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    background: black;
    margin: 20px;
}

.model-img {
    width: 100%;
    background:rgba(20, 20, 20, 0.801);
}

.model-info {
    width: 100%;
    background: black;
}

.model-info h3,
.model-info ul,
.model-info h4 {
    margin: 20px;
    width: 300px;
}

.select-btn {
    border-radius: 0.17rem;
    border: 0;
    color: #000;
    font-size: .875rem;
    font-weight: 700;
    height: 2.5rem;
    background-color: #44d62c;
    width: 100%;
}

.select-btn:hover {
    background-color: #43d62c98;
}

.select-btn:active {
    background-color: rgba(128, 128, 128, 0.082);
}

footer {
    color: white;
    width: 100%;
    position: absolute;
    background-color: rgb(24, 24, 24);
}

footer li,
footer a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #44d62c;;
}

footer a:hover {
    color: #43d62c98;
}

footer a:active {
    text-decoration: underline;
    color: rgba(128, 128, 128, 0.082);
}

#footer-left {
    top:0;
    left:0;
    margin-left: 20px;
}

#footer-right {
    position: absolute;
    top:0;
    right:0;
    margin-right: 20px;
}

.social-media-icon {
    width: 40px;
}

footer img:hover {
    /* tool here https://codepen.io/sosuke/pen/Pjoqqp 
    Credit goes to MultiplyByZer0 */
    /* set the image to grey */
    filter: invert(100%) sepia(0%) saturate(0%) 
    hue-rotate(327deg) brightness(100%) contrast(99%);
}

footer img:active {
    /* tool here https://codepen.io/sosuke/pen/Pjoqqp 
    Credit goes to MultiplyByZer0 */
    /* set the image to black */
    filter: invert(51%) sepia(0%) saturate(100%) 
    hue-rotate(230deg) brightness(0%) contrast(86%);
}

@media (max-width: 1240px) {
    /* For mobile: */

    .features-row {
        flex-direction: column;
    }

    #video-block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #pricing-row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #pricing-row-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .model-info h3,
    .model-info ul,
    .model-info h4 {
        margin: 20px;
        width: auto;
    }

    footer li {
        display: block;
    }
}

